.dashboard-container{
    width: 90%;
    margin: 30px auto;
}

.banner{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #8DDC97;
}
.section{
    display: flex;
    width: 50%;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: center;
    img, p, h1{
        display: inline;
        margin-right: 5px;
    }
}

.display-details{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
}
.detail-card{
    display: inline;
    align-items: center;
    color: #686868;
    p, label{
        font-size: 12px;
        font-weight: 600;
    }
    select{
        border: 0px;
        padding: 0px 0px 5px 0px;
        background-color: transparent;
        width: 150px;
        border-bottom: 1px solid grey;
        font-size: 16px;
        font-weight: 700;
        color: rgb(75, 74, 74);
    }
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}
.card-container > div {
    flex: 35%;
    margin-top: 20px;
}

.card{
    background-color: white;
    padding: 0px 20px 15px 15px;
    display: flex;
    flex-direction: column;
}
.expired{
    padding: 0px;
    margin: 0px;
    opacity: 1;
    color: #D80000;
    font-size: 10px;
    font-family: Museo Sans 500;
    position: relative;
    left:-15px;
    height: 15px;
    width:fit-content;
    padding:2px;
    margin-bottom:5px;
    background-color: #FFE4E6;
}
.expired-false{
    background-color: transparent;
}
.data{
    height: fit-content;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(231, 226, 226);
    padding-bottom: 15px;
    img{
        width: 120px;
        margin-right: 15px;
    }
    .values{
        display: flex;
        flex-direction: column;
        width: 100%;
        p{
            margin:5px 0px 0px 0px;
        }
        .title{
            font-weight: 700;
            font-size: 16px;
            width: 100%;
            img.fav{
                margin: 0px;
                float: right;
                width:10px;
                height: 10px;
                transform: scale(3);
            }
        }
        .small{
            color: #666666;
            font-weight: 500;
            font-size: 12px;
            span{
                color: green;
            }
            b{
                color: black;
                font-size: 13px;
                font-weight: 600;
            }
        }
        select{
            font-family: Quicksand;
            width: 95%;
            margin-top: 12px;
            margin-bottom: 8px;
            border:0px;
            padding:5px;
            border-bottom: 1px solid grey;
            font-size: 16px;
            font-weight: 700;
        }
    }

}

.actions{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    img{
        transform: scale(1.2);
    }
}
.disabled{
    opacity: 0.4;
}